.cycleCation, .motoCation, .stayCation, .lameCation {
  display: none;
}

h1  {
  text-align: center;
}

.interview {
  display: none;
  width: 80%;
  background-color: #111;
  position: absolute;
  padding: 20px;
  margin-top: 20px;
  color: #efefef;
  margin-bottom: 20px;
}

body, html {
  height: 100%;
  padding: 20px;
  margin: 0px;
}

.bg-image {
  background-color: #efefef;
  background-image: url(../img/pic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.bg-image-2 {
  background-color: #efefef;
  background-image: url(../img/sacre_coure.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.65;
}

.bg-image-cycleCation {
  background-color: #efefef;
  background-image: url(../img/bezier_pont_neuf.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.65;
}

.bg-image-lameCation {
  background-color: #efefef;
  background-image: url(../img/elderly.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.65;
  }

.bg-image-motoCation {
  background-color: #efefef;
  background-image: url(../img/moto_laos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.65;
  }

  .bg-image-stayCation {
    background-color: #efefef;
    background-image: url(../img/staycation.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.65;
    }

.titleText {
  position: absolute;
  left: 0px;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #efefef;
}

#rightButton {
    position: absolute;
    right: 0px;
    width: 15%;
    color: #efefef;
}

#leftButton {
    position: absolute;
    left: 0px;
    width: 15%;
    color: #efefef;
    padding-left: 20px;
    background-color: grey;
    min-width: 100px;
}

.textBorder {
  background-color: #111;
  color: #fff;
  padding: 15px;
  font-size: 26px;
  letter-spacing: 10px;
}

.button-cool {
  background-color: #111;
  border-style: solid;
  border-color: Transparent;
  cursor:pointer;
  overflow: hidden;
  outline-style: none;
  font-size: 26px;
  letter-spacing: 8px;
  text-align: center;
}

.button-cool:hover {
  outline-style: solid;
  outline-color: black;
}
